@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  /* Colores extraídos de tu diseño original */
  --color-primary: #007bff;      /* Azul principal */
  --color-secondary: #6c757d;    /* Gris secundario */
  --color-burnt-peach: #f96e46;  /* El naranja que vimos en tu HTML */
  
  /* Colores para los gráficos (Charts) */
  --color-chart-1: #f96e46;
  --color-chart-2: #00e8fc;
  --color-chart-3: #f9c846;

  /* Fuentes */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
